.header {
  composes: knot-blue-bg coral-lighter-90-fg from '@xo-union/tk-css-colors/lib/utilities';
  display: flex;
  text-align: center;
  padding-top: 10px;
  
  h2 {
    width: 100%;
  }
}

.login {
  font-size: 30px;
  margin: 0 10px;
}