body {
  background-color: white;
  font-family: 'Heebo', sans-serif;
}

.tab-wrapper {
  width: 100%;
  background-color: white;
  padding: 10px 20px;
  .skinny {
    width: 15%;
  }
}

.btn {
  width: 100%;
  z-index: 1;
  background-color: #1ed760;
  margin-top: 10px;
  &:hover {
    color: white;
    background-color:#2ebd59; 
  }
}

.error-text {
  width: 100%;
  margin: 10px 0px;
  color: red;
}

.success-text {
  width: 100%;
  margin: 10px 0px;
  color: #2ebd59;
}


@media (min-width: 640px) {
  .tab-wrapper{
    width: 80%;
    margin: 0 auto;
  } 
}
