.tabs a:focus, .tabs a:hover {
  text-decoration: none;
}

.tabs {
  background-color: transparent;
}

.margin-bottom {
  margin-bottom: 20px;
}

.tabs .tab a {
  color:#1ed760;
}

.tabs .tab a:hover,.tabs .tab a.active {
	background-color: transparent;
	color:#2ebd59;
}

.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:rgba(102,147,153,0.7);	
}

.tabs .indicator {
	background-color:#2ebd59;
}

.bold {
  font-weight: 500;
}