.delete {
  color: #ff6437;
  &:hover {
    color: #ed491a;
    cursor: pointer;
  }
}

.edit {
  color: #a0c3d2;
  &:hover {
    color: #7dadc2;
    cursor: pointer;
  }
}

.spacer {
  margin-left: 2px;
  margin-right: 2px;
}