.filter-container {
  padding: 10px;
  margin-right: 20px;
}

.filter-heading {
  font-size: 20px;
  font-weight: 600;
}

.filter-opt {
  margin: 10px 0;
  font-weight: 600;
  composes: gray-4-fg from '@xo-union/tk-css-colors/lib/utilities';
}

.filter-section {
  margin-bottom: 25px;
}